@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
    --white: #f8f8f9;
    --slate: #f5f5f5;
    --yellow: #ffc107;
    --blue: #4272d7;
    --darkBlue: #272e45;
    --black: #1b1c1e;
    --darkerBlack: #555;
    --darkGray: #666;

    --regular: 16px;
    --medium: 20px;
    --large: 30px;
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-body {
    background-color: #e5e5e5;
}

@media (min-width: 576px) {
    .modal-body img {
        max-width: 400px;
    }
}

@media (max-width: 576px) {
    .modal-body img {
        max-width: calc(100vw - 50px);
    }
}

@media (min-width: 992px) {
    .modal-body img {
        max-width: 700px;
        max-height: 70vh;
    }
}

.pagination {
    align-items: center;
    justify-content: center;
}

.active {
    color: var(--blue) !important;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    background-color: var(--black);
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside span {
    color: var(--darkerBlack);
    font-size: 12px;
}

.menu_top,
.menu_bottom,
.logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_wrapper h1 {
    font-size: 25px;
    color: var(--white);
}

.logo_wrapper {
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--darkerBlack);
}

.logo_wrapper p {
    font-size: var(--regular);
    color: var(--white);
    font-weight: 500;
    margin: 0;
}

.logo_wrapper p strong {
    color: var(--yellow);
    text-decoration: underline;
}

.menu_list {
    margin-top: 15px;
}

.menu_link {
    display: block;
    padding: 12px 20px;
    font-size: var(--regular);
    color: var(--white) !important;
    margin-top: 10px;
}

.menu_list .active,
.menu_link:hover,
.menu_link:focus {
    background-color: #323335;
    border-radius: 11px;
    transition: 250ms ease-in-out;
}

.menu_list .active img {
    margin-right: 20px !important;
}

.menu_link img {
    margin-right: 10px;
}

.menu_bottom {
    padding-top: 25px;
    border-top: 2px solid var(--darkerBlack);
}

.menu_bottom .profile_wrapper {
    padding: 10px 20px;
    margin-top: 15px;
}

.menu_bottom .profile_wrapper p {
    font-size: 14px;
    color: var(--white);
    margin: 0 0 0 5px;
}

.menu_bottom .active {
    background-color: #323335;
    border-radius: 11px;
    transition: 250ms ease-in-out;
}

.menu_bottom .active:hover {
    background-color: var(--black);
}

.menu_wrapper ul li a img {
    margin-right: 19px;
}

@media (min-width: 992px) {
    main {
        padding-left: 260px;
        background-color: #e5e5e5;
    }
}

.content_header {
    padding: 15px 0;
    background-color: #e5e5e5;
}

.profile_picture {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--darkBlue);
}

@media (min-width: 992px) {
    .profile_picture {
        height: 35px;
        width: 35px;
    }
}

.content_wrapper {
    background-color: #e5e5e5;
    min-height: calc(100vh - 80px);
    padding: 20px 0 90px 0;
}

@media (min-width: 992px) {
    .content_wrapper {
        min-height: 100vh;
        padding: 30px 0 0 0;
    }
}

.overview_wrapper {
    justify-content: start;
}

.add_wrapper {
    justify-content: end;
}

.overview_wrapper,
.add_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.add_wrapper > button,
.add_wrapper > a {
    text-transform: uppercase;
}

.overview_wrapper h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

@media (min-width: 992px) {
    .add_wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

.overview_item {
    border-radius: 10px;
    padding: 30px 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    margin-bottom: 40px;
}

.item-c1 {
    background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
}

.item-c2 {
    background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
}

.item-c3 {
    background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
}

.item-c4 {
    background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}

.overview_inner {
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
}

.overview_inner .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview_inner h2 {
    font-size: 18px;
}

.overview_inner .text span {
    text-transform: capitalize;
    font-size: var(--regular);
    font-weight: 400;
}

.recent_expense_list tbody td {
    color: var(--darkGray);
    padding: 12px;
}

.recent_expense_list thead th {
    text-transform: capitalize;
    font-weight: 500;
}

.recent_expense_list tbody tr:nth-of-type(odd) {
    background-color: var(--white);
}

.recent_expense_list tbody tr:nth-of-type(even) {
    background-color: var(--slate);
}

.navbar_mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 2px;
    background-color: var(--black);
}

.navbar_mobile_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.navbar_mobile_list li {
    padding: 5px;
}

.navbar_mobile_link img {
    width: 24px;
    height: 24px;
}

.navbar_mobile_link span {
    color: var(--white);
    font-size: 12px;
}
